body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2c3e50;
}

.container {
    display: flex;
    height: 400px;
}

.container-chart {
    width: 50%;
    padding: 10px;
}